EMAILJS_PUBLIC_KEY=PosF-q5b8IUp134rY
EMAILJS_SERVICE_ID=service_cu0hh29
EMAILJS_BIRTHDAY_TEMPLATE_ID=birthday_reward
EMAILJS_LOW_STOCK_TEMPLATE_ID=low_stock_alert
EMAILJS_OWNER_SUMMARY_TEMPLATE_ID=owner_daily_summary
EMAILJS_REPLY_TO=cayascoopsnsmile@gmail.com
OWNER_EMAIL=cayascoopsnsmile@gmail.com
BUSINESS_PHONE=1 (868) 784-4920
BUSINESS_EMAIL=cayascoopsnsmile@gmail.com
LOW_STOCK_THRESHOLD=5
WIPAY_ACCOUNT_NUMBER=
WIPAY_API_KEY=
WIPAY_COUNTRY_CODE=TT
WIPAY_CURRENCY=TTD
WIPAY_ENVIRONMENT=live
WIPAY_FEE_STRUCTURE=merchant_absorb
WIPAY_ORIGIN=cayascoopsnsmile
WIPAY_REQUEST_URL=https://tt.wipayfinancial.com/plugins/payments/request
WIPAY_ALLOWED_ORIGIN=https://cayascoopsnsmile.com
